$darkGreenColor: #135E4B;
$lightGreenColor: #5E9888; 
$lightGrey: #EDEDED;
$darkGrey: #707070;
$midGrey: #D3D3D3;
$brownish: #D3B19B;
$darkBrownish: #B67152;
@font-face {
  font-family: "Georgia-Reg";
  src: local("Georgia"),
   url("./fonts/georgia.woff") format("truetype");

  }
@font-face {
  font-family: "Georgia-I";
  src: local("GeorgiaI"),
   url("./fonts/georgiai.woff") format("truetype");
  
  }

 @font-face {
    font-family: "Gill-Sans";
    src: local("Gillsans"),
     url("./fonts/gillsans.woff") format("truetype");
    
  }

/* HEADERS */ 

h1.section-title {
  font-size: 100px;
  font-family: "Gill-Sans";
  font-weight: 500;
  text-align: right;
}
h1.gigantic {
  font-size: 175px;
  font-family: 'Georgia';
  font-style: italic;
  text-align: right;
  font-weight: 500;
}
h1.less-gigantic {
  font-size: 120px;
  font-family: 'Georgia';
  font-style: italic;
  text-align: right;
  font-weight: 500;
}
h2.section-title {
  font-size: 60px;
  font-family: "Gill-Sans";
  font-weight: 500;
  text-align: right;
}
h3.section-title {
  font-size: 60px;
  font-family: "Gill Sans";
  line-height: 53px;
  text-align: right;
  font-weight: 500;
}
h4.section-title {
  font-size: 50px;
  font-style: italic;
  font-family: "Georgia";
  text-align: right;
  font-weight: 500;
}
h5.pricelist-title {
  font-size: 48px;
  font-family: "Gill-Sans";
  text-align: right;
  font-weight: 500;
}

/* paragraphs */ 

p {
 font-size: 16px;
 font-family: 'Gill-Sans'; 
}
p.tagline {
  font-style: italic;
  font-size: 40px;
  font-family: 'Georgia';
  text-align: center;
  color: $midGrey;
}

/* spans / modifications */ 
span.tagline-author {
  font-family: 'Gill Sans';
  font-style: normal;
}
span.g-italic {
  font-family: 'Georgia';
  font-style: italic;
  font-weight: normal;
  text-align: right;
}
span.italic {
  font-style: italic;
}
span.top-word {
  font-family: 'Gill Sans';
  font-size: 30px;
}

.App {
 max-width: 1280px;
 margin: auto;
}

.about-section {
  h1 {
    color: $lightGrey;
  }
  p{
    color: $darkGrey;
  }
}

.medicine-section {
  h1 {
    color: $lightGreenColor;
    padding-top: 30px;
  }
  p{
    color: $darkGreenColor;
  
  }
}

.joga-section {
  h1 {
    color: $brownish;
  }
  p { 
    color: $darkBrownish;
  }
}

.tagline-text {
  .row{
  text-align: center;
  color: $lightGrey;
  max-width: 850px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  }
}
.service-list-section {
  background: transparent linear-gradient(180deg, #135E4B 0%, #5E9888 100%) 0% 0% no-repeat padding-box;
  h4 {
  color: white;
  }
  span.top-word {
    font-style: normal;
  }
  p {
  color: white;
}
span.top-word.withphoto {
  display: inline-flex;
  font-size: 30px;
} 
img {
  height: 57px;
} 
}

.offer {
  h2 {
    font-size: 60px;
  }
}

.service-list-section.orange {
  background: transparent linear-gradient(180deg, #B67152 0%, #D3B19B 100%) 0% 0% no-repeat padding-box;
  span.border-btm {
    color: white;
    border-bottom: 1px solid white;
  }
}

.schedule {
  h2 {
    text-align: center;
    font-size: 60px;
  }
  .weekday {
    border-left:1px solid #B67152;
  }
  .weekday:last-child {
    border-right: 1px solid #B67152;
  }
  .weekday h4 {
    font-size: 14px;
    text-align: center;
    color: #B67152;
  }
  .weekday h5 {
    color: #707070;
    font-size: 14px;
    text-align: left;
  }
  h5.underline {
    text-transform: capitalize;
    text-decoration: underline;
  }

}

.pricelist {
  h1.gigantic {
    font-size: 175px;
    font-style: italic;
  }
}

.contact {
  background-image: url(./kontakt.png);
  height: 600px;
  object-fit:fill;
  background-position-y: center;
  h1.less-gigantic {
    font-size: 153px;
  }
}

h1.section-title.stacked {
  display: block;
  line-height: 77px;
}
p {
  text-align: left;
}
span.g-italic {
  font-style: italic;
  margin-right: 10px;
}
span.border-btm {
  border-bottom: 1px solid #B67152;
  font-size: 16px;
  color: #B67152;
  padding-bottom: 10px;
  line-height: 20px;
  display: block;
}
span.italic {
font-style: italic;
}
div.medicine-section.container {
  background-color: #EDEDED;
}
div.medicine-section.container div.row {
margin-top: 100px;
}

/* accordion */ 

.transparent{
  button.accordion-button {
  background-color: transparent;
}
.accordion-item {
  background-color: transparent;
}
button.accordion-button {
  color: white;
}
 
}

.service-listgroup {
  .list-group-item {
    background-color: transparent;
  }
  .list-group-item {
    color: white;
  }
  h3.section-title {
    font-size: 25px;
    line-height: 18px;
  }
}
.services-tabbed {
margin-top: 100px;
padding-top: 100px;
margin-bottom: 100px;
}